body, html, #app {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.landing-wide-button {
  padding-top: .1em;
  padding-bottom: .1em;
}

body {
  background: url('../images/patterns/symphony/symphony.png') repeat;
}

/************/
/* App page */
/************/

.couple-on-bridge-bg {
  background-image: url('../images/couple-on-bridge.jpeg');
  background-position: center;
  background-size: cover;
  color: white;
}

.app-page-controls {
  width: 100%;
}

/***********/
/* LHS Nav */
/***********/
.lhs-nav {
  float: left;
  position: fixed;
}

.lhs-nav > i {
  text-align: center;
  display: block;
  background-color: rgba(0,0,0,0.8);
  padding-bottom: .25em;
}

.lhs-nav > i:last-child {
  border-bottom-right-radius: .25em;
}

/*************/
/* Recs page */
/*************/
.gender-icon.fa-male { color: blue; }
.gender-icon.fa-female { color: pink; }

.rec-detail {
  position: fixed;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;

  transition: bottom 1s;
}

.rec-detail.visible { bottom: 44px; }
.rec-detail.invisible { bottom: -100%; }


.rec-detail > p {
  margin-top: 0;
  margin-bottom: 0;
}

.rec-detail > p:last-child { margin-bottom: 1em; }

.picture-strip-image-container {
  width: 100%;
  padding-bottom: 44px; /* Leave space for footer */
}

.picture-strip-image {
  width: 100%;
  top: 0;
  left: 0;
  display: block;
}

.picture-overlay-text {
  color: white;
  text-shadow: 0px 1px 1px black;
}

.contains-page-bottom-controls {
  padding-bottom: 6em;
}

.page-bottom-controls {
  width: 100%;
  height: 4em;
}

.page-bottom-controls button {
  padding-top: 0;
  min-height: 4em;
}

.recs-page-header {
  position: fixed;
  width: 100%;
}

.recs-page-header-icon-nav > i {
  text-align: center;
  display: block;
  background-color: rgba(0,0,0,0.8);
  padding-bottom: .25em;
}

/****************/
/* Matches page */
/****************/

.matches-page-header-icon-nav > i:last-child {
  border-bottom-right-radius: .25em;
}

#match-convo-sliding-container {
  width: 100%;
  min-height: 100%;
  top: 0;
  background-color: white;
  transition: left 0.5s;
}

.match-convo-page-container {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  overflow-y: hidden;
}

/*******************/
/* Preference page */
/*******************/

.two-button-options > button:first-child {
  border-left: none;
}

.two-button-options > button {
  margin-left: -1px;
  border-left: solid 1px #555;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button#gender-male { background-color: blue; }
button#gender-female { background-color: pink; }

.red-face { color: red; }
.white-face { color: white; }

.half-opacity-black-bg { background-color: rgba(0,0,0,0.5); }

/**************************/
/* CollapsibleFormSection */
/**************************/

section.collapsible-labeled-form-section {
  margin-top: .5em;
  margin-bottom: .5em;
}

section.collapsible-labeled-form-section > label {
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #2c3e50;
  color: white;
}

/******************/
/* MatchConvoLink */
/******************/

.match-convo-link-container {
  background-color: #EEE;
  margin-top: 1em;
  margin-bottom: 1em;
}

.match-convo-link-rhs {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.match-convo-link-container > div:first-child {
  margin-bottom: 1em;
}

/******************/
/* MatchConvoPage */
/******************/

#match-convo-close-btn {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

#match-convo-close-btn > div.close-icon-container {
  background-color: rgba(40,40,40,0.6);
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 30px;
  color: white;
}

.match-convo-page-messages-container {
  position: absolute;
  overflow-y: hidden;
  height: 90%; /* Space is left for the chat box */
}

.match-convo-page-chat-box {
  height: 10%;
}

.match-convo-page-chat-box textarea {
  border: none;
  padding: 0;
  margin: 0;
}

.match-convo-message {
  margin: .5em;
  padding: .25em;
}

.match-convo-message.pending {
  background-color: #888;
  opacity: 0.7;
  color: white;
}

.match-convo-message.received {
  background-color: #95a5a6;
  color: white;
}

.match-convo-message.sent {
  background-color: #3498db;
  color: white;
}

.match-convo-sent-date {
  font-style: italic;
  font-size: small;
}

/*******************/
/* Utility classes */
/*******************/

.slim-text { font-weight: 400; }
.super-slim-text { font-weight: 200; }

.slim-margin-right { margin-right: 1em; }
.slim-margin-left { margin-left: 1em; }
.slim-margin { margin: 1em; }

.right-aligned-text { text-align: right; }
.left-aligned-text { text-align: left; }
.center-aligned-text { text-align: center; }
.hacked-vertical-center { margin-top: .5em; }

.no-vertical-margins {
  margin-top: 0;
  margin-bottom: 0;
}
.no-bottom-margin { margin-bottom: 0; }
.no-top-margin { margin-top: 0; }
.med-margin-top { margin-top: 3em; }

.full-height { height: 100%; }
.full-width { width: 100%; }
.no-margin { margin: 0; }

i.xlarge,
span.xlarge { 
  font-size: 2em; 
}

i.large,
span.large { 
  font-size: 1.5em; 
}

.small-text { font-size: small; }
.smaller-text { font-size: smaller; }

.pinned-to-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}
.abs.pinned-to-bottom { position: absolute; }

button.borderless { border: none; }
button.squared { border-radius: 0; }
button.in-stack { margin-bottom: .25em; }

.squared { border-radius: 0; }

.slim-vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}
.slim-right-padding { padding-right: 1em; }
.slim-pad { padding: 1em; }

.float-right { float: right; }
.float-left { float: left; }

.offscreen-right {
  position: absolute;
  left: 100%;
}
.offscreen-right.onscreen { left: 0; }

/* Pure Overrides */
.button-success,
.button-error,
.button-warning,
.button-fb,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success { background: rgb(28, 184, 65); }
.button-error { background: rgb(202, 60, 60); }
.button-warning { background: rgb(223, 117, 20); }
.button-secondary { background: rgb(66, 184, 221); }
.button-fb { background: rgb(59,89,152); }

.pure-button.button-lg {
  font-size: 125%
}

.pure-g [class*="pure-u"] i.fa {
  font-family: FontAwesome;
}

/******************/
/* Flat UI colors */
/******************/

.wet-asphalt-bg { background-color: #34495e; }
.wet-asphalt-face { color: #34495e; }

.midnight-blue-bg { background-color: #2c3e50; }
.midnight-blue-face { color: #2c3e50; }

.alizarin-bg { background-color: #e74c3c; }
.alizarin-face { color: #e74c3c; }

.nephritis-bg { background-color: #27ae60; }
.nephritis-face { color: #27ae60; }